# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=record_of_work
DB_USERNAME=root
DB_PASSWORD=Avi6855#

# JWT
JWT_SECRET=ZnVsbHN0YWNrYXBwbGljYXRpb25rZXlmb3Jqd3R0b2tlbjIwMjRrZXk=

# Backend
SERVER_PORT=8080

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080/api
NEXT_PUBLIC_APP_NAME=कामचा हिशोब
